/*body{
    margin:0;
}

h1{
    margin-top: 0;
}
*/

.you{
    background-color:#d8eff0;
}
.red{
    width:200px;
    height:200px;
    background-color:red;
    contain
}
.blue{
    width:200px;
    height:200px;
    background-color:blue;
}